#space{
    padding-left: 30px;
    color: #ff1313;
}
#spa{
    margin-left: 20px;
    color: #ff1313;
}
.center{
  
    padding-top: 18%;
}
#sp{
    margin-left: 5px;
    text-align: center;
}